<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>either com.objectiveSee.blockblockDaemon.com or com.objectiveSee.blockblockAgent.com</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/BlockBlock/Contents/MacOS/BlockBlock</string>
		<string>either daemon or agent</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>AbandonProcessGroup</key>
	<true/>
</dict>
</plist>
