<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.apple.bash</string>
	<string>com.apple.python</string>
	<string>com.apple.pythonw</string>
	<string>org.python.python</string>
</array>
</plist>
