<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Developer ID Application: Adobe Systems, Inc.</string>
	<string>Developer ID Application: Adobe Systems, Inc. (JQ525L2MZD)</string>
	<string>Developer ID Application: Agilebits Inc.</string>
	<string>Developer ID Application: AVAST Software a.s. (6H4HRTU5E3)</string>
	<string>Developer ID Application: AVG Technologies CZ, s.r.o. (XSJ59WMJBM)</string>
	<string>Developer ID Application: Bitdefender SRL (GUNFMW623Y)</string>
	<string>Developer ID Application: BitTorrent, Inc (SNBT6M4A7T)</string>
	<string>Developer ID Application: Bombich Software, Inc.</string>
	<string>Developer ID Application: Bombich Software, Inc. (L4F2DED5Q7)</string>
	<string>Developer ID Application: Brave Software, Inc. (KL8N8XSYF4)</string>
	<string>Developer ID Application: Citrix Online LLC</string>
	<string>Developer ID Application: Dashlane</string>
	<string>Developer ID Application: Dropbox, Inc.</string>
	<string>Developer ID Application: Eclipse Foundation, Inc. (JCDTMS22B4)</string>
	<string>Developer ID Application: ESET, spol. s r.o. (P8DQRXPVLP)</string>
	<string>Developer ID Application: Google Inc.</string>
	<string>Developer ID Application: Google, Inc. (EQHXZ8M8AV)</string>
	<string>Developer ID Application: Kaspersky Lab UK Limited</string>
	<string>Developer ID Application: Malwarebytes Corporation (GVZRY6KDKR)</string>
	<string>Developer ID Application: Microsoft Corporation</string>
	<string>Developer ID Application: Mozilla Corporation</string>
	<string>Developer ID Application: Mozilla Corporation (43AQ936H96)</string>
	<string>Developer ID Application: Sophos (2H5GFH3774)</string>
	<string>Developer ID Application: Valve Corporation</string>
</array>
</plist>
