<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Developer ID Application: Google Inc.</string>
	<string>Developer ID Application: Kaspersky Lab UK Limited</string>
	<string>Developer ID Application: Valve Corporation</string>
</array>
</plist>
