<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.objective-see.ransomwhere</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.objective-see.ransomwhere</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Objective-See/RansomWhere/RansomWhere.app/Contents/MacOS/RansomWhere</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>EnableTransactions</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
